<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Open+Sans" rel="stylesheet">
    <script src="https://use.fontawesome.com/847d4f98dd.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <title>Summoners War 6 Star Calculator</title>
    <meta name="description" content="A calculator tool to help players of Summoners War figure out how many monsters of a certain level they need in order to evolve."/>
    <meta name="keywords" content="Summoners, Summoners war, Sky, Arena, Calculator, 6, Star, *, 6 Star, 6*, Calculator, Evolve, Tool"/>
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body ng-app="myApp" ng-controller="MainController">
    <div class="header">
      <h1>Summons War 6<i class="fa fa-star" aria-hidden="true"></i> Calculator</h1>
    </div>
    <div class="middle-title" >
      Do you have a 5* ready to evolve, uncheck if you don't. <input type="checkbox" ng-model="checkboxModel.value2"
           ng-true-value="'YES'" ng-false-value="'NO'" class="checkbox"><span style="color: #6B78B4">{{checkboxModel.value2}}</span>
    </div>
    <div class="container">
      <span class="e200width">How many of each star level do you have?</span>
      <span class="e200width">Level 1</span>
      <span class="e200width">Max Level</span>
      <label>
             <span class="e200width">Two Stars</span>
             <input type="number" name="twoStars" ng-model="haveTwoStars[0]" required min="0" max="240">
             <input type="number" name="twoStars" ng-model="haveTwoStars[1]" required min="0" max="120">
      </label>
      <label>
             <span class="e200width">Three Stars</span>
             <input type="number" name="threeStars" ng-model="haveThreeStars[0]" required min="0" max="90">
             <input type="number" name="threeStars" ng-model="haveThreeStars[1]" required min="0" max="30">
      </label>
      <label>
             <span class="e200width">Four Stars</span>
             <input type="number" name="fourStars" ng-model="haveFourStars[0]" required min="0" max="24">
             <input type="number" name="fourStars" ng-model="haveFourStars[1]" required min="0" max="6">
      </label>
      <label>
             <span class="e200width">Five Stars</span>
             <input type="number" name="fiveStars" ng-model="haveFiveStars[0]" required min="0" max="5">
             <input type="number" name="fiveStars" ng-model="haveFiveStars[1]" required min="0" max="1">
      </label>
      <div class="how-to-read">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
        <span style="font-size: 11px; top: -2px; position: relative;">Hover for Help</span>
        <h6>Take the number in the Max Levels column, evolve those, then move to the next row. You will have the correct amount needed at level 1, then just level up the amount equal to the Max Level column again. Then just repeat until you get to the last row. If a number is negative, then skip to the next line as you already have enough of the higher stars.  </h6>
        <h6>For Example. If it says I need 300 more 2-stars at level 1 and need to level 100, that means I have to have 100 2-stars at level 20, and 200 fodder. When those 100 2-stars are evolved, this will make 100 three stars. From there, level 25 of those 3-stars leaving 75 fodder. When those are evolved, I will have 25 4-stars at level 1. When 5 of them are leveled, 20 fodder is left. After evolution, there will be 5 fresh 5-stars ready to be used to make a 5 star.</h6>
        <h6>If you instead want to just summon mystical scrolls for fodder, then you start reading from the three star line. I need 100 3-stars to make 25 4-stars, which will then be used to make 5 5-stars.</h6>
      </div>
      <h5>You Need to:</h5>
      <span class="e200width">Star Level</span>
      <span class="e200width">Have X at Level 1</span>
      <span class="e200width">Then Get X to Max Level and Evolve</span>
      <span class="e200width">Two Stars</span>
      <span class="e200width">{{ needed[0] }}</span>
      <span class="e200width">{{ needed[1]-haveTwoStars[1] }}</span><i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="e200width">Three Stars</span>
      <span class="e200width">{{ needed[1] }}</span>
      <span class="e200width">{{ needed[2]-haveThreeStars[1] }}</span><i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="e200width">Four Stars</span>
      <span class="e200width">{{ needed[2] }}</span>
      <span class="e200width">{{ needed[3]-haveFourStars[1] }}</span><i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="e200width">Five Stars</span>
      <span class="e200width">{{ needed[3] }}</span>
      <span class="e200width">{{ fiveStars[1] }}</span>
      <label>
             <span class="e200width special-height">Farming Speed (seconds) | Xp (per monster)</span>
             <input type="number" name="fiveStars" ng-model="speed" required>
             <input type="number" name="fiveStars" ng-model="xp" required>
      </label>
        
        <h5>It will take you {{timeNeeded | number:2}} hours to make a 6*</h5>
        <h6>This isnt 100% accurate. Doesnt factor in menu time or odd level amounts. This is the total amount of exp needed and how fast it would take you to get it based on the XP number.</h6>
    </div>
    

    <!-- Modules -->
    <script src="app.js"></script>

    <!-- Controllers -->
    <script src="MainController.js"></script>
  </body>
  
</html>
