label {
  float: left;
  clear: left;
}

label:after {
  clear: left;
}

h3 {
  float: left;
  width: 100%;
}
h3:after {
  content: "";
  clear: left;
}
h5, h4, h6 {
  float: left;
  color: #F5FAFA;
  font-family: 'Open Sans', sans-serif;
}
h4 {
  width: 100%;
}
input {
  width: 50px;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #242E35;
  padding: 0;
}

.header {
  border-bottom:1px solid white;
  background: #242E35;
  height: 52px;
}
.header h3 {
  position: relative;
  top: -7px;
}
h1, h2, h3, h4 {
  color: #00CCCC;
  font-family: 'Lato', sans-serif;
  text-shadow: 0 0 5px #000;
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
}
.middle-title {
  height: 90px;
  position: relative;
  top: -10px;
}
.middle-title * {
  display: inline-block;
  top: 20px;
}
.checkbox { 
  left: 20px;
}
.middle-title h1 {
  position: relative;
}
.middle-title span {
  top: 20px;
  position: relative;
}
.main .container {
  border:1px solid white;
}

label {
  color: #6B78B4;
}

@media screen and (max-width: 755px) {
 h1{
   font-size: 18px;
   left: 15px;
  }
  h2{
    
  }
  h3{
    font-size: 15px;
  }
  h4{
    font-size: 14px;
  }
  h5{
  font-size: 13px;
  }
  h6{
    font-size: 12px;
  }
  label {
    width: 260px;
  }
}